[submodule "stimuli"]
	path = stimuli
	url = git@github.com:courtois-neuromod/langlocalizer.stimuli.git
	datalad-id = dc98efba-a003-4ab6-bc11-59033fcd2846
	datalad-url = git@github.com:courtois-neuromod/langlocalizer.stimuli.git
